.app-layout {
    height: 100vh;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-layout-content {


  flex: 1;
  background-color: aquamarine;
}